<!DOCTYPE html>
<html>

<head>
  <title>AngularJS PHP- upload and display image using FileReader with example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="ImageController">
  <input type="file" ng-model="myFile" class="form-control" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
  <button ng-click="uploadFile()">upload me</button>
  <br/>
  <img ng-src="{{src}}" width="300" style="border: 1px solid #eee">
  <script type="text/javascript">
    var app = angular.module('myApp', []);
    // Here we write a custom service for upload file to reuse it in the controller
    app.service('uploadFile', ['$http', function($http) {
      this.uploadFiletoServer = function(file, uploadUrl) {
        var fd = new FormData();
        fd.append('file', file);
        $http.post(uploadUrl, fd, {
            transformRequest: angular.identity,
            headers: {
              'Content-Type': undefined,
              'Process-Data': false
            }
          })
          .success(function(data) {
            alert(data);
          })
          .error(function() {
            alert("Error");
          });
      }
    }]);
    app.controller('ImageController', ['$scope', 'uploadFile', function($scope, uploadFile) {
      $scope.uploadFile = function() {
        $scope.myFile = $scope.files[0];
        var file = $scope.myFile;
        var url = "upload.php";
        uploadFile.uploadFiletoServer(file, url);
      };
      $scope.uploadedFile = function(element) {
        var reader = new FileReader();
        reader.onload = function(event) {
          $scope.$apply(function($scope) {
            $scope.files = element.files;
            $scope.src = event.target.result
          });
        }
        reader.readAsDataURL(element.files[0]);
      }
    }]);
  </script>
</body>

</html>
