<!DOCTYPE html>
<html>

<head>
  <title>AngularJS PHP- upload and display image using FileReader with example</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body ng-app="myApp" ng-controller="ImageController">
  <input type="file" ng-model="myFile" class="form-control" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
  <button ng-click="uploadFile()">upload me</button>
  <br/>
  <choose-file layout="row" flex="20">
    <input id="fileInput" ng-model="myFile" type="file" class="ng-hide" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)"/>
    <md-input-container flex class="md-block">
      <input type="text" ng-model="fileName" disabled>
      <div class="hint">Select your file</div>
    </md-input-container>
    <div>
      <md-button id="uploadButton" class="md-fab md-mini">
        <md-icon class="material-icons">attach_file</md-icon>
      </md-button>
    </div>
  </choose-file>
  <div class="">
    <md-button class="md-raised md-primary" ng-click="uploadFile()">Enviar</md-button>
  </div>
  <br/>
  <img ng-src="{{src}}" width="300">


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

   <!-- Angular Material Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="app.js" charset="utf-8"></script>
  <script src="input-file/input-file-directive.js" charset="utf-8"></script>
  <script src="service-upload/upload-image-service.js" charset="utf-8"></script>
</body>

</html>
